@charset "UTF-8";

@media screen and (min-width: 768px) {
    body{
        background-image:linear-gradient(to top, #49a09d, #5f2c82);
    }
    section#login{
        width: 80vw;
        height: 350px;
    }
    div#img{
        float: left;
        width: 30%;
        height: 100%;
    }
    div#form{
        float: right;
        width: 70%;
    }
}
@media screen and (min-width: 992px) {
    section#login{
        width: 990px;
        height: 500px;
    }
    div#img{
        float: right;
        width: 50%;
    }
    div#form{
        float: left;
        width: 50%;
    }
    div#form h1{
        font-size: 2em;
    }
    div#form p{
        font-size: 1.2em;
    }
}
div#form p{
    font-size: 1em;
    margin: 20px 0;
}